.root {
  overflow: hidden;
  position: relative;
}
.blurhash {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.picture {
  position: relative;
  z-index: 2;
}
